<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Vaidya PIM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA53764F1D1B80F4005E4865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA5376651D1B80F5005E4865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA5376701D1B80F5005E4865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
